* {
    
}
:root {
    --main-bg-color: #262626;
    --main-text-color: #fafafa;
}
body {
    height:150vh;
    background: var(--main-bg-color);
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background: #27272a;
    width:100%;
    box-sizing: content-box;
    
}
header button {
    background: #3f3f46;
    color:var(--main-text-color);
    border:none;
    border-radius: 10px;
    padding:10px;
    box-sizing: border-box;
    font-size: large;
}
header button:hover {
    cursor: pointer;
}

#logo {
    justify-self: start;
}
#logo:hover {
    cursor:pointer;
}