* {
    
}
:root {
    --main-bg-color: rgba(18,18,20,255);
    --main-text-color: #fafafa;

    --form-text-color: #e3d8d8;
}
body {
    background: var(--main-bg-color);
    background-image: url('./sushi.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 5%;
}


/* HEADER */ 
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background: rgb(59,60,64);
    background: linear-gradient(90deg, rgba(59,60,64,1) 0%, rgba(22,22,24,1) 46%, rgba(16,15,20,1) 100%);
    width:100%;
    box-sizing: content-box;
    
}
header button {
    background: #3f3f46;
    color:var(--main-text-color);
    border:none;
    border-radius: 10px;
    padding:10px;
    box-sizing: border-box;
    font-size: large;
}
header button:hover {
    cursor: pointer;
}

#logo {
    justify-self: start;
    color:var(--main-text-color)
}
#logo:hover {
    cursor:pointer;
}

/* HERO */
#hero {
    margin-top:8rem;
    text-align: center;
    color:snow;
}
#hero #reservation_button{
    padding:5px;
    background: #27272a;
    color: var(--main-text-color);
    font-size: 1.5rem;
    transition: 100ms;
    border-image: linear-gradient(to left, rgb(31, 31, 30), rgb(230, 225, 225)) 1 0;
}
#hero #reservation_button:hover {
    box-shadow: 4px 4px #202025;
    transform: scale(1.02);
    cursor: pointer;
}
/* CONTENT */
#content {
    margin-top:5rem;
    border:solid 2px #3f3f46;
    margin-left:2rem;
    margin-right:2rem;
}

/* main page */
#main_grid {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: end;
}
#main_grid h3 {
    color:var(--main-text-color);
    grid-column: 1/3;
    align-self: center;
    text-align: center;
    justify-self: center;
    border:solid 3px black;
    font-size: larger;
}
#main_grid img {
    grid-column: 3/5;
    width:100%;
    max-width:800px;
    border-left:solid 5px #52525b;
    border-bottom: solid 2px #2f2f33;
    transition: 200ms;
}
#main_grid img:hover {
    transform: scale(1.1);
}

/* RESERVATION FORM */
#reservation_form {
    color:var(--form-text-color);
    display:grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: auto;
    align-items: center;
}
#reservation_form label {
    text-align: center;
}
#reservation_form input {

}
#reservation_form p {
    text-align: center;
}



/* MENU */
.menuBox {
    width:200px;
    height:200px;
    border:solid 3px rgb(33, 33, 33);
    background-position: center;
    transition: 200ms;
    border-radius: 10px;
    padding:15px;
    background-repeat: no-repeat;
}
.menuBox:hover {
    transform: scale(1.05);
    cursor: pointer;
    
}
#menuBox1 {
    background-image: url('./sushi1.png');
}
#menuBox2 {
    background-image: url('./lunch1.png');
}
#menuBox3 {
    background-image: url('./dessert1.png');
}
#menuBox4 {
    background-image: url('bbq1.png');
}
#menuBox5 {
    background-image: url('./drinks1.png');
}